:root{
    /* Colors */
    --main-color: #C5D6C5;
    --text-color: #1A202C;
    --hero-img-color: #53C8A1;
    --second-img-color: #27BDC7;
    --border-color: #B8B8B8;
    --icon-bgc: #C4C4C4;

    /* Fonts */
    --font-roboto: "Roboto", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
}