@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.head{
    width: 80%;
    background-color:darkorchid;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.navbar ul{
    display: flex;
    gap: 100px;
  
}
.navbar li{
    color: white;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}
.btn{
    padding: 10px 20px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}