* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


.box1 {
  border: 2px solid rgb(7, 115, 39);
  width: 250px;
  border-radius: 16px;
  background-color: cornsilk;
  margin: 20px auto;
}

.box1 .head img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.text {
  line-height: 25px;
}
.text h2 {
  color: green;
  text-align: center;
}
.text p {
  text-align: center;
  color: rgb(25, 11, 102);
}

.text h4 {
  text-align: center;
  color: red;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn button {
  margin-left: 25%;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(233, 195, 44);
  color: brown;
  font-size: 16px;
  border: 1px solid rgb(130, 109, 23);
}

.btn button:hover {
  background-color: darkgreen;
  color: white;
}
