.container{
    display: flex;
    height: 100px;
    width: 600px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
}

.box1{
    background-color: cadetblue;
    flex-grow: 2;
}
.box2{
    background-color: coral;
    flex-grow: 1;
}